/* import all @font-face from ../assets/fonts/landerwebdesktop/lander */
@font-face {
  font-family: "LanderShort-Bold";
  src: url("../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Bold.woff");
  font-weight: 700, Bold;
  font-style: normal;
}

@font-face {
  font-family: "LanderShort-Regular";
  src: url("../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Regular.woff");
  font-weight: 400, Regular;
  font-style: normal;
}

@font-face {
  font-family: "LanderShort-Light";
  src: url("../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Light.woff");
  font-weight: "light";
  font-style: normal;
}

@font-face {
  font-family: "SoDoSans-Black";
  src: url("../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Bold.woff");
  font-weight: 700, Bold;
  font-style: normal;
}

@font-face {
  font-family: "SoDoSans-Regular";
  src: url("../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Regular.woff");
  font-weight: 400, Regular;
  font-style: normal;
}

@font-face {
  font-family: "SoDoSans-Light";
  src: url("../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Light.woff");
  font-weight: 200, "Light";
  font-style: normal;
}

@font-face {
  font-family: "Pike-Bold";
  src: url("../assets/fonts/pikewebdesktop/web/Pike-Bold.woff");
  font-weight: 700, Bold;
  font-style: normal;
}
/* end font */

body {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
}

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* scroll-snap-points-y: repeat(100vh); */
  overflow-y: scroll;
  max-height: 100vh;
  background-image: url("../img/background_paper.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
}

section:nth-child(1) {
  background-image: url("../img/doodles_patterns.png") !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    rgba(213, 230, 224, 1) 0%,
    rgba(228, 238, 227, 1) 100%
  );
  background-color: #d5e6e0cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

section:nth-child(2) {
  position: relative;
}

.title-content {
  padding-top: 82px;
  width: 80%;
}

.title-content .title,
.title-content .subtitle {
  font-family: "LanderShort-Bold";
  text-align: center;
  margin: 0;
}

.title-content .title {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/mask-trees.png");
  background-attachment: fixed;
  background-size: cover;
  font-size: 180px;
  width: auto;
  padding: 0;
  margin: -30px 0;
}

.title-content .subtitle {
  color: #c4b58c;
  font-size: 76px;
  letter-spacing: 0.01em;
  line-height: 80px;
}

.title-content .hashtag {
  color: #006241;
  font-family: "SoDoSans-Black";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 5px;
  margin: 0;
  padding-top: 37px;
  padding-left: 25px;
  text-align: start;
}

.container-trees {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
}

.trees {
  position: absolute;
  top: 150px;
  background-image: url("../img/arboles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  mix-blend-mode: multiply;
  opacity: 1;
  width: 100%;
  z-index: 3;
}

/**** second section *****/
.details-cup-content {
  position: absolute;
  display: block !important;
  top: 40%;
  width: 100%;
}

.details-cup-content .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.details-cup-content .row .detail {
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.details-cup-content .row .detail p {
  font-family: "SoDoSans-Regular";
  font-size: 18px;
  letter-spacing: 0.01em;
}

.details-cup-content #detail01,
.details-cup-content #detail02 {
  width: 150px;
  padding-bottom: 150px;
  position: relative;
}

.details-cup-content #detail01,
.details-cup-content #detail03 {
  padding-right: 150px;
  text-align: end;
}

.details-cup-content #detail02,
.details-cup-content #detail04 {
  padding-left: 150px;
  text-align: start;
}

.details-cup-content #detail01 {
  bottom: 20px;
}

.details-cup-content #detail02 {
  bottom: 80px;
}

.details-cup-content #detail03 {
  width: 230px;
}

.details-cup-content #detail04 {
  width: 300px;
  padding-top: 20px;
}

.details-cup-content #detail01::after,
.details-cup-content #detail02::after,
.details-cup-content #detail03::after,
.details-cup-content #detail04::after {
  content: "";
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.details-cup-content #detail01::after {
  top: -120px;
  left: 60px;
  width: 154px;
  height: 85px;
  background-image: url("../img/arrow01.svg");
}

.details-cup-content #detail02::after {
  top: -95px;
  right: 100px;
  width: 152px;
  height: 66px;
  background-image: url("../img/arrow02.svg");
}

.details-cup-content #detail03::after {
  top: -180px;
  left: 170px;
  width: 153px;
  height: 110px;
  background-image: url("../img/arrow03.svg");
}

.details-cup-content #detail04::after {
  top: -190px;
  right: 70px;
  width: 217px;
  height: 80px;
  background-image: url("../img/arrow04.svg");
}

/**** thrid section *****/

section#footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

.hashtag-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  padding-bottom: 31px;
}

.hashtag-content h4 {
  font-family: "Pike-Bold";
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 90px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.hashtag-content h4::after {
  background-image: url("../img/underline.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 50px;
  margin-top: -20px;
  transform: rotate(-1.19deg);
  width: 730px;
}

.hashtag-content p {
  font-family: "SoDoSans-Regular";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 36px;
  margin: 0;
  text-align: center;
  width: 950px;
}

.footer {
  background-image: url("../img/footer-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0px 122px 40px;
  width: auto;
  height: 307px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.footer p {
  font-family: "SoDoSans-Light";
  font-size: 16px;
  line-height: 36px;
  text-align: center;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.footer .social-media li {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
}

.footer .social-media li:hover {
  opacity: 0.6;
}

.footer .social-media li:active {
  opacity: 0.8;
}

.footer .social-media li:last-of-type {
  padding-right: 0px;
}

.footer .starbuck-logo {
  width: 127px;
  height: 129px;
}

/* 3d object */
.rendered-object {
  display: flex;
  justify-content: center;
}

.rendered-object canvas {
  /* Vaso 3d */
  animation: up-down 1s infinite ease-in-out alternate;
  bottom: 5%;
  pointer-events: none;
  position: fixed;
  /* The height and width are set using js */
  height: 90% !important;
  width: 90% !important;
  z-index: 6;
  top: 4px;
}

.shadow {
  /* blur */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-filter: blur(5px);
  animation: shadow-long 1s infinite ease-in-out alternate;
  background-color: #000;
  border-radius: 100%;
  bottom: 10%;
  display: block;
  filter: blur(5px);
  height: 40px;
  opacity: 0.2;
  position: fixed;
  width: 150px;
  z-index: 10;
}

/* responsive for desktop less than 1300px */
@media screen and (max-width: 1300px) {
  .title-content {
    padding-top: 54px;
    width: 70%;
  }
  .title-content .subtitle {
    font-size: 67px;
    line-height: 95px;
  }
  .title-content .title {
    font-size: 120px;
  }
  .title-content .hashtag {
    font-size: 27px;
    line-height: 5px;
    padding-top: 20px;
  }
  .hashtag-content {
    margin-bottom: 0px;
  }
  .hashtag-content h4 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .hashtag-content p {
    width: 80%;
  }
  .details-cup-content #detail01::after {
    height: 40px;
  }
  .details-cup-content #detail03::after {
    height: 110px;
  }
}

@media screen and (max-width: 768px) {
  .title-content {
    width: 93%;
    margin-top: 20px;
  }
  .title-content .hashtag {
    font-family: 'SoDoSans-Regular';  
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .hashtag-content {
    margin: 20px 0 10px;
    padding-bottom: 5px;
  }
  .hashtag-content h4 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 60px;
  }
  .hashtag-content h4::after {
    height: 20px;
    width: 90%;
  }
  .hashtag-content p {
    font-size: 16px;
    line-height: 24px;
    width: 80%;
  }
  .details-cup-content .detail p {
    font-size: 16px !important;
  }
  .details-cup-content #detail04 {
    padding-top: 0;
  }
  .footer {
    padding: 0px 14px 60px;
    height: 237.18px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
  }
  .footer .social-media {
    justify-content: flex-start;
  }
  .footer .social-media img {
    width: 20px;
    height: 20px;
  }
  .footer p {
    text-align: start;
    font-size: 14px;
    line-height: 18px;
  }
  .footer .starbuck-logo {
    width: 67px;
    height: 67px;
  }
}

@media screen and (max-width: 480px) {
  .title-content .subtitle {
    font-size: 28px;
    line-height: 0px;
  }
  .title-content .title {
    padding-top: 20px;
    font-size: 50px;
    line-height: 120px;
  }
  .title-content .hashtag {
    font-size: 20px;
    line-height: 25px;
    padding-top: 0;
    padding-left: 0;
    text-align: center;
  }
  .details-cup-content {
    display: none !important;; 
  }
  .footer {
    margin-bottom: 0px;
  }
}

@keyframes shadow-long {
  0% {
    width: 130px;
  }
  100% {
    width: 150px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-4px);
  }
}
