/* import all @font-face from ../assets/fonts/landerwebdesktop/lander */
@font-face {
  font-family: 'LanderShort-Bold';
  src: url('../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Bold.woff');
  font-weight: 700, Bold;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort-Regular';
  src: url('../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Regular.woff');
  font-weight: 400, Regular;
  font-style: normal;
}

@font-face {
  font-family: 'LanderShort-Light';
  src: url('../assets/fonts/landerwebdesktop/LanderWebFonts/LanderGrande-Light.woff');
  font-weight: 'light';
  font-style: normal;
}

@font-face {
  font-family: 'SoDoSans-Black';
  src: url('../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Bold.woff');
  font-weight: 700, Bold;
  font-style: normal;
}

@font-face {
  font-family: 'SoDoSans-Regular';
  src: url('../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Regular.woff');
  font-weight: 400, Regular;
  font-style: normal;
}

@font-face {
  font-family: 'SoDoSans-Light';
  src: url('../assets/fonts/sodowebdesktop/SoDoSansWebFonts/SoDoSans-Light.woff');
  font-weight: 200, 'Light';
  font-style: normal;
}

@font-face {
  font-family: 'Pike-Bold';
  src: url('../assets/fonts/pikewebdesktop/web/Pike-Bold.woff');
  font-weight: 700, Bold;
  font-style: normal;
}
/* end font */

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* scroll-snap-points-y: repeat(100vh); */
  overflow-y: scroll;
  max-height: 100vh;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
}

section:nth-child(1) {
  background-image: url('../img/doodles_patterns.png') !important;
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, rgba(213, 230, 224, 1) 0%, rgba(228, 238, 227, 1) 100%);
  background-color: #D5E6E0CC;
}

section:nth-child(2) {
  background-color: white;
  /* position: relative; */
}

section:nth-child(3) {
  background-color: white;
}

/**************/

#first {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-content {
  padding-top: 82px;
  width: 80%;
}

.title-content .title,
.title-content .subtitle {
  font-family: 'LanderShort-Bold';
  text-align: center;
  margin: 0;
}

.title-content .title {
  background-image: url('../img/title.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain !important;
  color: #006241;
  height: 164px;
  width: auto;
}

.title-content .subtitle {
  color: #C4B58C;
  font-size: 76px;
  letter-spacing: 0.01em;
  line-height: 80px;
}

.title-content .hashtag {
  color: #006241;
  font-family: 'SoDoSans-Black';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 5px;
  margin: 0;
  padding-top: 37px;
  text-align: start;
}

.container-trees {
  position: relative;
  display: block;
  height: 100vh;
  width: 100%;
}

.trees {
  position: absolute;
  top: 150px;
  background-image: url('../img/arboles.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  mix-blend-mode: multiply;
  opacity: 1;
  width: 100%;
  z-index: 3;
}

/**** second section *****/
.details-cup-content {
  position: absolute;
  display: none !important;
  top: 40%;
  width: 100%;
}

.details-cup-content .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.details-cup-content .row .detail {
  align-items: center;
  /* display: flex; */
  flex-direction: column;
  font-family: 'SoDoSans-Regular';
  justify-content: center;
  padding: 0 100px 50px 100px;
  width: 80%;
}

/**** thrid section *****/
.hashtag-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.hashtag-content h4 {
  font-family: 'Pike-Bold';
  font-size: 62px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 90px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.hashtag-content h4::after {
  background-image: url('../img/underline.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 50px;
  margin-top: -20px;
  transform: rotate(-1.19deg);
  width: 730px;
}

.hashtag-content p {
  font-family: 'SoDoSans-Regular';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 36px;
  margin: 0;
  text-align: center;
  width: 950px;
}

.footer {
  background-color: white;
  background-image: url('../img/footer-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0px 122px 40px;
  width: auto;
  height: 307px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer p {
  font-family: 'SoDoSans-Light';
  font-size: 16px;
  line-height: 36px;
  text-align: center;
}

.footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}

.footer .social-media li {
  list-style: none;
  margin: 0;
  padding: 0 20px 0 0;
  height: 30px;
  width: 30px;
}

.footer .starbuck-logo {
  width: 127px;
  height: 129px;
}

/* 3d object */
.rendered-object {
  display: flex;
  justify-content: center;
}

.rendered-object canvas { /* Vaso 3d */
  animation: up-down 1s infinite ease-in-out alternate;
  bottom: 5%;
  pointer-events: none;
  position: absolute;
  /* The height and width are set using js */
  height: 90% !important;
  width: 90% !important;
  z-index: 4;
}

.shadow {
  /* blur */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-filter: blur(5px);
  animation: shadow-long 1s infinite ease-in-out alternate;
  background-color: #000;
  border-radius: 100%;
  bottom: 10%;
  display: block;
  filter: blur(5px);
  height: 40px;
  opacity: 0.2;
  position: fixed;
  width: 150px;
  z-index: 10;
}

/* responsive for desktop less than 1300px */
@media screen and (max-width: 1300px) {
  .title-content {
    padding-top: 54px;
    width: 84%;
  }
  .title-content .subtitle {
    font-size: 67px;
    line-height: 95px;
  }
  .title-content .title {
    height: 154px;
  }
  .title-content .hashtag {
    font-size: 27px;
    line-height: 5px;
    padding-top: 20px;
  }
  .hashtag-content {
    margin-bottom: 0px;
  }
  .hashtag-content h4 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .hashtag-content p {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .hashtag-content h4 {
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 60px;
  }
  .hashtag-content h4::after {
    height: 20px;
    width: 90%;
  }
  .hashtag-content p {
    font-size: 14px;
    width: 80%;
  }
  .footer {
    height: 330px;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
  .footer .social-media ul {
    height: 30px;
    width: 30px;
  }
  .footer .starbuck-logo {
    width: 90px;
    height: 91px;
  }
}

@media screen and (max-width: 480px) {
  .title-content .subtitle {
    font-size: 34px;
    line-height: 0px;
  }
  .title-content .title {
    height: 100px;
  }
  .title-content .hashtag {
    font-size: 20px;
    line-height: 0px;
    padding-top: 5px;
    text-align: center;
  }
}

@keyframes shadow-long {
  0% {
    width: 130px;
  }
  100% {
    width: 150px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
