body {
  margin: 0;
}
main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 100vh;
}

.container {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
}

#first {
  background-color: #f2f2f2;
}

#second {
  background-color: #b1b1b1;
}

.rendered-object {
  display: flex;
  justify-content: center;
}

.rendered-object canvas {
  animation: up-down 1s infinite ease-in-out alternate;
  bottom: 30%;
  pointer-events: none;
  position: absolute;
  /* The height and width are set using js */
  height: 50% !important;
  width: 50% !important;
}

.shadow {
  /* blur */
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  -webkit-filter: blur(5px);
  animation: shadow-long 1s infinite ease-in-out alternate;
  background-color: #000;
  border-radius: 100%;
  bottom: 30%;
  display: block;
  filter: blur(5px);
  height: 40px;
  opacity: 0.7;
  position: fixed;
  width: 150px;
  z-index: 10;
}

@keyframes shadow-long {
  0% {
    width: 130px;
  }
  100% {
    width: 150px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
